*.parquet
data/*/*
.DS_Store
test_frame.png
/cdn_input
__pycache__
*.pkl
*.pb
*.index
*.data
cnn_asl/variables/variables.data-00000-of-00001
cnn/variables/variables.data-00000-of-00001
/static/uploads
/website deletreo/static/